table {
  border-collapse: collapse;
  width: 100%;
}

th {
  color: #fff;
  background-color: rgb(10, 228, 72);
  padding: 15px;
  font-size: 25px;
}
th,
td {
    border: 1px solid #ddd;
  text-align: start;
  font-size: 25px;
  padding: 15px;
  font-family: "Times New Roman", Times, serif;
  /* background-color: red; */
}
tr:nth-child(even) {
  background-color: rgb(215, 210, 210);
}
